.section-board {
    position: relative;
    z-index: 3;
    overflow-x: hidden;
    p {
        margin-bottom: 30px;
    }
}
.section-board-wrapper {
    position: relative;
    width: 250px;
    margin: 0 auto;
    background: url(../images/board.png) no-repeat;
    background-size: contain;
    @include breakpoint(medium) {
        width: 511px;
        padding: 20px 36px;
    }
    @include breakpoint(large) {
        width: 857px;
    }
}

.section-board-video {
    margin-bottom: 60px;
 }
 
 .section-board-baloon {
     position: absolute;
     left: -30px;
     top: 10px;
     width: 50px;
     @include breakpoint(medium) {
         left: -65px;
         width: 102px;
     }
     @include breakpoint(large) {
        width: 167px;
        left: -105px;
     }
 }

 .section-board-cats-baloon {
    position: absolute;
    right: -25px;
    bottom: -24px;
    width: 55px;
    @include breakpoint(medium) {
        width: 114px;
        right: -55px;
        bottom: 5px;
    }
    @include breakpoint(large) {
        width: 185px;
        right: -140px;
        bottom: -30px;
    }
 }