.section-gif {
    position: relative;
    background: url('../images/fuji-bg.jpg');
    background-size: cover;
    background-position: 60% 0;
    border-radius: 40px 40px 0 0;
    z-index: 4;
    text-align: center;
    overflow-x: hidden;
    padding: 75px 0 100px;
    @include breakpoint(medium) {
        padding: 40px 0 90px;
        background-position: 50% 0;
    }
    @include breakpoint(medium) {
        padding: 80px 0 90px;
        background-position: 50% 0;
    }
    @include breakpoint(large) {
        padding: 80px 0 120px;
    }
    .section-gif__cloud-left {
        position: absolute;
        top: -55px;
        z-index: 5;
        @include breakpoint(medium) {
            left: -15px;
            top: 30px;
        }
        @include breakpoint(large) {
            left: -10px;
            top: 50px;
        }
    }
    .section-gif__cloud-right {
        position: absolute;
        top: -65px;
        right: -15px;
        @include breakpoint(medium) {
            top: 300px;
            right: -15px;
        }
        @include breakpoint(large) {
            top: 55px;
            right: 60px;
        }
    }
    .section-gif__image {
        position: relative;
        width: 100%;
        margin: 0 auto 10px;
        border-radius: 35px;
    }
    .section-gif__icon {
        position: relative;
        margin-bottom: 16px;
        z-index: 1;
        img {
            border-radius: 12px;
        }
    }
    p {
        text-shadow: 0px 4px 20px #FFFFFF, 0px 0px 10px #FFFFFF;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;
        font-weight: $fontWeight-semibold;
        @include breakpoint(large) {
            font-size: 24px;
            line-height: 36px;
        }
    }
}