.section-board {
    position: relative;
    z-index: 3;
    overflow-x: hidden;
    padding: 30px 0 100px;
    @include breakpoint(medium) {
        padding: 46px 0 90px;
    }
    @include breakpoint(large) {
        padding: 70px 0 110px;
    }
    p {
        margin-bottom: 10px;
        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
        @include breakpoint(large) {
            margin-bottom: 45px;
            font-size: 28px;
            line-height: 44px;
        }
    }
}
.section-board-wrapper {
    position: relative;
    margin: 0 auto;
}
.section-board-video {
    display: inline-block;
    position: relative;
    background: url('../images/board.png') no-repeat;
    background-size: contain;
    background-position: center;
    padding: 12px 20px;
    @include breakpoint(medium) {
        padding: 35px 45px;
        background: url('../images/board-tab.png') no-repeat;
    }
    @include breakpoint(large) {
        padding: 52px 70px;
        background: url('../images/board-desktop.png') no-repeat;
    }
 }
 .section-board-baloon {
     position: absolute;
     left: -40px;
     top: 10px;
     @include breakpoint(medium) {
         left: -80px;
         top: 10px;
     }
     @include breakpoint(large) {
        top: 20px;
        left: -125px;
     }
 }
 .section-board-cats-baloon {
    position: absolute;
    right: -30px;
    bottom: -35px;
    @include breakpoint(medium) {
        bottom: -37px;
        right: -60px;
    }
    @include breakpoint(large) {
        right: -140px;
        bottom: -30px;
    }
 }